<div id="root">
    <h1>Productos en el carrito:</h1>
    <div id="products">
        <ul></ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="static/js/cart.js"></script>