<h1>Bienvenido al ecommerce</h1>
<br>
<p>No estas registrado? <a href="/users/register">Regístrate</a></p>
<p>Ya estas registrado? <a href="/users/login">Ingresa aquí</a></p>
<br>
<a href="/products">Ver productos</a>
<a href="/cart">Ver carrito</a>
