<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <a href="/users/logout">Logout</a>
    <a href="/products">Ver productos</a>
    <a href="/cart">Ver carrito</a>
</div>