#add-product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.form-div {
    display:flex;
    justify-content: space-between;
}

#form-submit {
    align-self: flex-end;
}

#alert-messages {
    align-self: flex-end;
    color:red;
    font-size: 10pt;
}